@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
}

.fan-icon {
    background-color: #ea2a33;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(234, 42, 51, 0.7);
    transform: translateY(-8%);
}